# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Transaction Aggregator/*
!/Transaction Aggregator/task/
/Transaction Aggregator/task/*
!/Transaction Aggregator/task/src
!/Transaction Aggregator/task/build.gradle
